.board 
  - if @task.eyecatch.attached?
    .board_image
      = image_tag @task.eyecatch
  .board_title
    = @task.title
    - if user_signed_in? && current_user.has_written?(@task)
      .dropdown
        = image_tag 'Combined Shape.png', class: 'dropbtn'
        .dropdown-content
          = link_to 'Edit', edit_board_task_path(board_id: @task.board_id, id: @task.id)
          = link_to 'Complete', board_task_path(board_id: @task.board_id, id: @task.id), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？'}
  .board_content
    = @task.content
  .board_detail
    = image_tag 'Oval.png'
    %div
      %p= @task.author_name
.container
  %h2 All Comments 
  .board
    - @comments.each do |comment|
      .board_comment
        %p= comment.content
  .board_add
    = link_to 'Add New Comment', new_board_task_comment_path(board_id: @task.board_id, task_id: @task.id) 
