.container
  %h2 All Boards  
  -# - @boards.each do |board|
  .board 
    .board_title
      %p Brackets
      .dropdown
        = image_tag 'Combined Shape.png', class: 'dropbtn'
        .dropdown-content
          = link_to 'Edit'
          = link_to 'Delete'
    .board_content
      %p Saving money - is something we would all like.
    .board_detail
      = image_tag 'Oval.png'

  .board_add
    = link_to '+ Add new board', new_board_path
    

    
     
