.board   
  .board_title
    = @board.title
    - if user_signed_in? && current_user.has_written?(@board)
      .dropdown
        = image_tag 'Combined Shape.png', class: 'dropbtn'
        .dropdown-content
          = link_to 'Edit', edit_board_path(@board, @task)
          = link_to 'Delete', board_path(@board, @task), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？'}
  .board_content
    = @board.content
  .board_detail
    = image_tag 'Oval.png'
    %div
      %p= @board.author_name

.container
  %h2 All Tasks  
  - @tasks.each do |task|
    = render 'commons/task', task: task
  .board_add
    = link_to '+ Add new task', new_board_task_path(@board, @task) 
  
  